.jumbotron {
	background: red;
}

.logo {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

body {
	background: blue;
}

hr {
	border-color: inherit;
	    margin: 1em 0;
}

#resultsModal img {
	overflow: hidden;
	width: 500px;
}